@charset "utf-8";

:root {
	font-size: 14px;
	--primary-color: #302AE6;
	--secondary-color: #536390;
	--font-color: #535353;
	--bg-color: #fbfbfb;
	--slider-bg-color: #ff9915;
}

[theme="dark"] {
	--primary-color: #9A97F3;
	--secondary-color: #818CAB;
	--font-color: #e1e1ff;
	--bg-color: #161625;
}


// Update some of Bulma's component variables
// https://bulma.io/documentation/customize/with-sass-cli/
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$gap: 5px;

$table-cell-border: 0px;
$table-cell-border-width: 0 0 0px;
$table-cell-padding: 0em 0em;

$navy: hsl(239, 69%, 24%);
$navbar-background-color: $navy;
$navbar-item-color: white;
$navbar-item-hover-color: $navy;

$footer-padding: 0rem 0rem 1rem; 

@import "bulma/bulma.sass";

.navbar-brand a.navbar-item:hover {
	color: white;
}

html {
	color: var(--font-color);
	background-color: var(--bg-color);
}

body {
	color: var(--font-color);
}

strong {
	color: var(--font-color);
}

.footer {
	background-color: var(--bg-color);
}

a, a:hover {
	color: var(--font-color);
}

div.container {
	width: 100%;
	background-color: var(--bg-color);
}

table {
	margin: 0 auto;
}

.table {
	background-color: var(--bg-color);
}

.table-container {
	overflow-y: auto;
	height: 350px;
}

td.date-published {
	width: 15%;
	font-size: 80%;
	vertical-align: middle;
	color: var(--font-color);
}

td.article-title {
	padding: 5px;
}

.right {
	float: right;
}

.center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
	display: flex;
	align-items: center;
}

.theme-switch {
	display: inline-block;
	height: 30px;
	width: 50px;
	position: relative;
	margin-left: 5px;
	input {
		display: none;
	}
}

.slider {
	background-color: #ccc;
	cursor: pointer;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 0;
	right: 0;
	transition: .4s;
}

/* スイッチのボール */
.slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	position: absolute;
	transition: .4s;
}

input:checked { 
	+ .slider {
		background-color: var(--slider-bg-color);
	}
	/* ボールをクリックした時のX軸(右側)への移動量 */
	+ .slider:before {
		transform: translateX(20px);
	}
}

.slider.round {
	border-radius: 30px;
	&:before {
		border-radius: 50%;
	}
}
