@charset "utf-8";

:root {
	font-size: 14px;
	--primary-color: #302AE6;
	--secondary-color: #536390;
	--font-color: #2b2b2b;
	--bg-color: #fbfbfb;
	--slider-bg-color: #ff9915;
}

[theme="dark"] {
	--primary-color: #9A97F3;
	--secondary-color: #818CAB;
	--font-color: #e1e1ff;
	--bg-color: #161625;
}

// Update some of Bulma's component variables
// https://bulma.io/documentation/customize/with-sass-cli/
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$gap: 5px;

$table-cell-border: 0px;
$table-cell-border-width: 0 0 0px;
$table-cell-padding: 0em 0em;

$navy: hsl(239, 69%, 24%);
$navbar-background-color: $navy;
$navbar-item-color: white;
$navbar-item-hover-color: $navy;

$footer-padding: 2rem 0rem 1rem;

@import "bulma/bulma.sass";

.navbar-brand a.navbar-item:hover {
	color: white;
}

html {
	color: var(--font-color);
	background-color: var(--bg-color);
}

body {
	color: var(--font-color);
}

strong {
	color: var(--font-color);
}

.footer {
	background-color: var(--bg-color);
}

a, a:hover {
	color: var(--font-color);
}

div.container {
	width: 100%;
	background-color: var(--bg-color);
}

label.label {
	color: var(--font-color);
}

@media screen and (max-width: 767px) {
	div.column {
		padding: 0 2rem 0;
	}
}

.table {
	background-color: var(--bg-color);
	color: var(--font-color);
}

.table thead th {
	color: var(--font-color);
}

.title {
	padding-top: 2rem;
	margin-bottom: 1rem;
}

/* Make 'edit' icon little bit smaller */
div.title a i {
	font-size: 1rem;
}

@media screen and (min-width: 768px) {
	.table-container {
		overflow-y: auto;
		scrollbar-width: thin;
		height: 350px;
	}
}

td.date-published {
	width: 10%;
	font-size: 80%;
	vertical-align: middle;
	color: var(--font-color);
}

td.article-title {
	padding: 0.5em;
}

.right {
	float: right;
}

.center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
	display: flex;
	align-items: center;
}

.theme-switch {
	display: inline-block;
	height: 30px;
	width: 50px;
	position: relative;
	margin-left: 5px;

	input {
		display: none;
	}
}

.slider {
	background-color: #ccc;
	cursor: pointer;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 0;
	right: 0;
	transition: .4s;
}

/* スイッチのボール */
.slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	position: absolute;
	transition: .4s;
}

input:checked {
	+ .slider {
		background-color: var(--slider-bg-color);
	}

	/* ボールをクリックした時のX軸(右側)への移動量 */
	+ .slider:before {
		transform: translateX(20px);
	}
}

.slider.round {
	border-radius: 30px;

	&:before {
		border-radius: 50%;
	}
}

.sortable-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin: 5px;
		padding: 10px;
		border: 1px solid #333;
		background: #eaeaea;
	}

	/* (B) DRAG-AND-DROP HINT */
	li.hint {
		background: #fea;
	}

	li.active {
		background: #ffd4d4;
	}
}
