<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %} | Frontpage</title>

		{% load static %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'feeds/css/style.css' %}">
		{% block css %}{% endblock %}

		{% endblock %}
	</head>
	<body class="has-navbar-fixed-top">

		{% include "feeds/_navbar.html" %}
		{% include "feeds/_message.html" %}

		{% block content %}
		{% endblock %}

		{% include "feeds/_footer.html" %}

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
		{% load static %}
		<script src="{% static 'feeds/js/script.js' %}"></script>
		{% block script %}{% endblock %}
	</body>
</html>
