{% extends "feeds/_base.html" %}

{% block title %}Manage Feeds{% endblock %}

{% block css %}
{% load static %}
{% endblock %}

{% block content %}
<section class="section">

	<div class="container">

		{% if feeds %}

		<div class="feedorder column is-three-fifth is-offset-two-fifth has-text-centered is-size-5" id="feedorder">
			{% for feed in feeds %}
			<div id="{{feed.id}}" class="feed">
				<a href="/feeds/edit/{{ feed.id }}">{{ feed.title }}</a>
			</div>
			{% endfor %}
		</div>

		<br></br>
		<div class="has-text-centered">
			Click the title to edit. Drag the title to sort.
		</div>

		{% else %}

		<div class="container has-text-centered">
			Subscribe feeds from&nbsp;<a href="/feeds/create"><strong>here</strong></a>
		</div>

		{% endif %}

	</div>

</section>
{% endblock %}

{% block script %}
{% csrf_token %}
<script src="https://unpkg.com/sortablejs-make/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% load static %}
<script src="{% static 'feeds/js/sort.js' %}"></script>
{% endblock %}
