{% extends "feeds/_base.html" %}

{% block title %}Manage Feeds{% endblock %}

{% block css %}
		{% load static %}
{% endblock %}

{% block content %}
<section class="section">

	<div class="container">

		<div class="columns">
			<div class="column"> </div>
			<div class="column is-half">
				{% if feeds %}

					<ul id="feedorder">
						{% for feed in feeds %}
							<li id="{{feed.id}}">
								<i class="fas fa-sort handle"></i>&nbsp;
								<a href="/feeds/edit/{{ feed.id }}">{{ feed.title }}</a>
							</li>
						{% endfor %}
					</ul>

				{% else %}

				<div class="container has-text-centered">
					Subscribe feeds from&nbsp;<a href="/feeds/create"><strong>here</strong></a>
				</div>
				{% endif %}

			</div>
			<div class="column"> </div>
		</div>

	</div>

</section>
{% endblock %}

{% block script %}
	{% csrf_token %}
	<script src="https://unpkg.com/sortablejs-make/Sortable.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	{% load static %}
	<script>

		var el = document.getElementById('feedorder');
		var sortable = Sortable.create(el, {
					handle: '.handle',
				});

	</script>
{% endblock %}
