{% extends "feeds/_base.html" %}

{% block title %}Manage Feeds | Front Page{% endblock %}

{% block content %}
<section class="section">

	<div class="container">

		<div class="columns">
			<div class="column"> </div>
			<div class="column is-half">
				{% if feeds %}
				<table class="table is-fullwidth"> 
					<thead>
						<tr>
							<th class="feed_title">Title</th>
							<th class="order">Order</th>
						</tr>
					</thead>
					<tbody>
						{% for feed in feeds %}
						<tr>
							<td class="feed_title"><a href="/feeds/edit/{{ feed.id }}">{{ feed.title }}</a></td>
							<td class="feed_url">{{ feed.order }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<div class="container has-text-centered">
					Subscribe feeds from&nbsp;<a href="/feeds/create"><strong>here</strong></a>
				</div>
				{% endif %}

			</div>
			<div class="column"> </div>
		</div>

	</div>

</section>
{% endblock %}
