{% extends 'feeds/_base.html' %}

{% block content %}

<br>

{# {{ form }} #}

<div class="columns">
	<div class="column"></div>
	<div class="column is-one-third">

		<form role="form" method="POST" class="">

			{% csrf_token %}

			<div class="field">
				<label class="label">Username</label>
				<p class="control has-icons-left has-icons-right">
				<input name="username" class="input" type="text" placeholder="Username">
				<span class="icon is-small is-left"> <i class="fas fa-user"></i> </span>
				</p>
			</div>

			<div class="field">
				<label class="label">Password</label>
				<p class="control has-icons-left">
				<input name="password1" class="input" type="password" placeholder="Password">
				<span class="icon is-small is-left"> <i class="fas fa-lock"></i> </span>
				</p>
				<p class="help is-info">Password must include alphabets, numbers and has at least 8 characters.</p>
			</div>

			<div class="field">
				<label class="label">Password Confirm</label>
				<p class="control has-icons-left">
				<input name="password2" class="input" type="password" placeholder="Password confirmation">
				<span class="icon is-small is-left"> <i class="fas fa-lock"></i> </span>
				</p>
			</div>

			<div class="field">
				<p class="control">
				<button class="button is-link">Register</button>
				</p>
			</div>

		</form>

	</div>
	<div class="column"></div>
</div>


<div class="content has-text-centered">
If you already have an account <a href="/feeds/login" target="blank"><strong>login</strong></a> instead.
</div>
{% endblock %}
